<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tour Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="../Content/assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="../Content/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../Content/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });</script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Content/assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="../Content/assets/css/demo.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/baseValidate.js"></script>
    <!-- (A) LOAD QRCODEJS LIBRARY -->
    <!-- https://cdnjs.com/libraries/qrcodejs -->
    <!-- https://github.com/davidshimjs/qrcodejs -->
</head>
<style>
    .error {
        color: red;
    }

    label.required:after {
        content: '*';
        color: red;
    }
</style>
<body>
    @{
        Html.RenderPartial("~/Views/Shared/AdminLayout/_Header.cshtml");
    }

    @{
        Html.RenderPartial("~/Views/Shared/AdminLayout/_SideBar.cshtml");
    }

    <div class="main-panel">
        <div class="content">
            @RenderBody()
        </div>
        @{
            Html.RenderPartial("~/Views/Shared/AdminLayout/_Footer.cshtml");
        }
    </div>

    </div>
    <!--   Core JS Files   -->
    <script src="../Content/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../Content/assets/js/core/popper.min.js"></script>
    <script src="../Content/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="../Content/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../Content/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="../Content/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <!-- Chart JS -->
    <script src="../Content/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="../Content/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="../Content/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="../Content/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="../Content/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="../Content/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="../Content/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Sweet Alert -->
    <script src="../Content/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="../Content/assets/js/atlantis.min.js"></script>

    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="../Content/assets/js/setting-demo.js"></script>
    <script src="../Content/assets/js/demo.js"></script>
    <script>
        convertTime = (hours, minutes) => {
            if (hours < 10) {
                hours = '0' + hours;
            }
            if (minutes < 10) {
                minutes = '0' + minutes;
            }
            return hours + ':' + minutes;
        }
    </script>
</body>
</html>
