    <!-- Sidebar -->
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="../Content/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            <p style="margin: 0 0" id="name_acc_sidebar"></p>
                            <span class="user-level">Administrator</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#profile">
                                    <span class="link-collapse">Thông tin cá nhân</span>
                                </a>
                            </li>
                            <li>
                                <a href="#edit">
                                    <span class="link-collapse">Chỉnh sửa thông tin</span>
                                </a>
                            </li>
                            <li>
                                <a href="#settings">
                                    <span class="link-collapse">Cài đặt</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a href="/Dashboard/Index" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Components</h4>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#base">
                        <i class="fas fa-layer-group"></i>
                        <p>Danh mục</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Category/Index">
                                    <span class="sub-item">Loại tour</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Hotel/Index">
                                    <span class="sub-item">Khách sạn</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Location/Index">
                                    <span class="sub-item">Địa điểm</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Vehicle/Index">
                                    <span class="sub-item">Phương tiện di chuyển</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/Tour/Index">
                        <i class="fa fa-plane" aria-hidden="true"></i>
                        <p>Quản lý Tour du lịch</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Ticket/Index">
                        <i class="fa fa-sticky-note" aria-hidden="true"></i>
                        <p>Vé</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Order/Index">
                        <i class="fas fa-th-list"></i>
                        <p>Hóa đơn</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Customer/Index">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <p>Khách hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#forms">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <p>Quản trị hệ thống</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="forms">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Staff/Index">
                                    <span class="sub-item">Nhân viên</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Account/Index">
                                    <span class="sub-item">Tài khoản</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                @*<li class="mx-4 mt-2">
            <a href="http://themekita.com/atlantis-bootstrap-dashboard.html" class="btn btn-primary btn-block"><span class="btn-label mr-2"> <i class="fa fa-heart"></i> </span>Buy Pro</a>
        </li>*@
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->

<script>
    $(document).ready(function () {
        var info = JSON.parse(localStorage.getItem('UserInfo'));
        $('#name_acc_sidebar').html(info.UserName);
    });
</script>